<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Project Organizer</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/projects/new">New Project</a>
        <a class="mdl-navigation__link" href="/categories">Categories</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Project Organizer</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/projects/new">New Project</a>
      <a class="mdl-navigation__link" href="/categories">Categories</a>

    </nav>
  </div>
  <main class="mdl-layout__content">
  </main>
</div>
