  <ul class="menu menu-hover-lines">
    <li class="active"><a href="/">Project Organizer</a></li>
    <li><a href="/projects/new">New Project</a></li>
    <li><a href="/categories/">Categories</a></li>
  </ul>


