<nav role="navigation" class="navbar" aria-label="main navigation">
	<div class="navbar-brand">
   		<a href="/"><b>Project Organizer</b></a>
  	</div>
	<a href="/projects/new">New Project</a>
	<a href="/categories">Categories</a>
</nav>
