<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Project Organizer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (!user) { %>
          <li class="nav-item">
            <li><a class="nav-link" href="/users/new">Sign Up</a></li>
          </li>
          <li class="nav-item">
            <li><a class="nav-link" href="/users/login">Log In</a></li>
          </li>
        <% } else { %>
        <li class="nav-item">
          <li><a class="nav-link" href="/users/logout">Log Out</a></li>
        </li>
        <% } %> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/">All Projects</a></li>
            <li><a class="dropdown-item" href="/projects/new">New Project</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <li><a class="nav-link" href="/categories">All Categories</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>