<nav class="navbar navbar-default" style="background-color:#009fdd;color:#fff;"role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" >
        <span style="background-color:#fff;" class="sr-only">Toggle navigation</span>
        <span style="background-color:#fff;" class="icon-bar"></span>
        <span style="background-color:#fff;" class="icon-bar"></span>
        <span style="background-color:#fff;" class="icon-bar"></span>
      </button>
      <a style="color:#fff;"class="navbar-brand" href="/">Project Organizer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a style="color:#fff;" href="/">Projects</a></li>
        <li><a style="color:#fff;"href="/projects/new">Add Project</a></li>
        <li><a style="color:#fff;"href="/categories">Categories</a></li>
        <li><a style="color:#fff;"href="/categories/new">Add Category</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
