
<h1>Categories</h1>

<% categories.forEach(function(category) { %>
  <div class="well">
    <h2>
      <a href="/categories/<%= category.id %>"><%= categories.name %>
      <small> <%= category.name %></small>
      </a>
    </h2>
  </div>
<% }); %>