body,
.form-group label,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #006064;
}

.well,
.navbar {
    border: 0;
}

.pulse {
    margin: 0 1em;
}

.project-des {
    margin-top: 1em;
}

textarea.form-control {
    background-color: #4dd0e1;
    border: 0;
}
