<h1>Projects in that Category</h1>


  <% projects.forEach(function(category) { %>
    <div class="well">
      <h1><a href="/category/<%= category.name %>"><%= category.name %></a></h1>
    </div>
  <% }); %>


