<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <% if (project.categories && project.categories.length > 0) { %>
        <% project.categories.forEach(function(c){ %>
          <small>Category: <%= c.name %></small>
        <% }); %>
      <% } %>
    </h2>
  </div>
<% }); %>
