<h1>Project Organizer</h1>

<h2>My Projects</h2>

<div class="mainColumn">
<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <small>by <%= project.name %></small>
    </h2>
  </div>
<% }); %>
</div>
