<h1>Project Organizer</h1>

<h2>My Projects</h2>
<hr>

<% if (projects.length < 1) { %>
  <h4>Better get coding, I've no projects!</h4>
<% } %>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h2>
  </div>
<% }); %>
