<h1>Project Organizer</h1>

<div class="box-parent">
  <% projects.forEach(function(project) { %>

    <div class="box">
      <h3><a href="/projects/<%= project.id %>"><%= project.name %></a></h3>
      <small>by <%= project.name %></small>
    </div>


  <% }); %>
</div>
