<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
    <div class="well">
        <h2>
            <a href="/projects/<%= project.id %>"><%= project.name %></a>
            <a class="edit-link btn btn-primary" href="projects/<%= project.id %>/edit">Edit</a>
            <a class="delete-link btn btn-primary" href="projects/<%= project.id %>">Delete</a>
         </h2>
    </div>
<% }); %>
