<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <small>by <%= project.name %></small>
      <form method="POST" action="/projects/<%= project.id %>/?_method=DELETE"">
        <small><small><input type="submit" value="Delete This Project"></small></small>
      </form>
    </h2>
  </div>
<% }); %>
