
<header>
  <h3>My Projects</h3>
</header>
<ul class="list-group">

<% if (projects.length < 1) { %>
  <li>
    <div>
      <p class="">NO PROJECTS SAVED</p>
    </div>
  </li>
<% } %>

<% projects.forEach(function(project) { %>
  <li class="list-group-item">
    <a href="/projects/<%= project.id %>"><%= project.name %></a>
  </li>
<% }); %>
  </ul>