<h1>Project Organizer</h1>

<h2>My Projects</h2>
<section class="main-content">

<% if (projects.length < 1) { %>
  <h4>Better get coding, I have no projects!</h4>
<% } %>

<% projects.forEach(function(project) { %>
  
    <a class="links-main" href="/projects/<%= project.id %>"><%= project.name %></a>

<% }); %>
</section>