<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>

      <% project.categories.forEach(function(c) { %>
      <em>[<%= c.name %>]</em>
    <% }); %>
    </h2>
  </div>
<% }); %>
