<h1 class="text-center">Project Organizer</h1>

<h3 class="text-center">My Projects</h3>
<hr>

<% if (projects.length < 1) { %>
  <h4>Better get coding, I've no projects!</h4>
<% } %>

<% projects.forEach(function(project) { %>
  <div class="well text-center">
    <div class="col s4">
      <div class="card blue-grey darken-1 center-align">
        <h2>
          <a href="/projects/<%= project.id %>"><strong><span class="red-text"><%= project.name %></span></strong></a>
        </h2>
      </div>
    </div>
  </div>
<% }); %>
