<h1>Project Organizer</h1>
<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
         <% project.categories.forEach(function(c) { %>
      		<small><em><a href="categories/<%= c.id %>"><%= c.name %></a></em></small>
    	<% }); %>
    </h2>
  </div>
<% }); %>
