<h1>Project Organizer</h1>

<h2>My Projects</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
      <small>by <%= project.name %></small>
      <a href="/projects/<%= project.id %>" class="delete-link">Delete</a>
    </h2>
  </div>
<% }); %>
