<div class="jumbotron">
<h1>All Completed Projects</h1>
<p>This is a sample of projects completed by students in the Web Development Immersive course at General Assembly in Seattle.</p>
</div>
<div class="row">
<% projects.forEach(function(project) { %>
  <div class="col-md-6 col-sm-12">
    <h2>
      <span class="glyphicon glyphicon-floppy-disk"></span>    <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h2>
  </div>
<% }); %>
</div>
