<h1>All Categories of Technology</h1>

<% categories.forEach(c => { %>
	<div>
		<form action="/categories/<%= c.id %>" method="GET">
			<%= c.name %>
			<input type="submit">
		</form>
	</div>
<% }) %>