<h1>Categories</h1>

<ul>

      <% categories.forEach(function(category){ %>

    <li><a href="/categories/<%=category.id%>"><%= category.name%></a></li>
      <% }) %>

</ul>

<hr />

<a href="/">&larr; Back Home</a>
