<h2>All categories</h2>
<% if(categories && categories.length > 0){ %>
  <% categories.forEach(function(t) { %>
    <div>
      <%= t.name %>
    </div>
    <% }); %>
  <% } else { %>
    <h3>No Categories Yet</h3>
    <% } %>
