<h1> All the categories </h1>

<%if(categories && categories.length > 0){ %>
	<% categories.forEach(function(c){ %>
	<div>
		<%= c.category %>
	</div>
	<% }); %>
<% } else { %>
	<h3> No Categories Yet </h3>
<% } %>

<a href="/">&larr; Back Home</a>