<h2>All the categories</h2>
<hr />
<% if(categories && categories.length >0){%>
	<% categories.forEach(function(category){%>
		<a href="/categories/<%=category.id%>"><div class="badge"><%=category.content%></div></a>
	<%})%>
<%}else{%>
	<h3>No categories yet!</h3>
<%}%>