
<h2>categories</h2>

<% categories.forEach(function(categories) { %>
  <div class="well">
    <h2>
      <a href="/categories/<%= category.id%>">
        <%= category.name %></a>
    </h2>
  </div>
<% }); %>>