<h1>All Categories</h1>

<% categories.forEach(c => { %>
  <h2>
    <a href="/categories/<%=c.id%>">
      <%= c.name %>
    </a>
  </h2>
  <p>This category is associated with <%= c.projects.length %> projects</p>
  <hr>
<% }) %>