<h1><%= list.name %></h1>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% list.projects.forEach(function(project) { %>
      <tr>
        <td><a href="/projects/<%= project.id %>"><%= project.name %></td></a>
        <td><%= project.description %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<a href="/categories">&larr; To Categories</a>