<h1>Details for <%= category.name %></h1>

<ul>
    <% category.projects.forEach(project=> { %>
        <li>
            <a href="/projects/<%=project.id%>"><%=project.name%></a>
        </li>
    <% }) %>
</ul>