<h1>this is the new categories page</h1>

<!-- read all the categories from the db -->
<ul>
    <% readCategories.forEach(category => { %>
        <li>
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
        </li>
    <% }) %> 
</ul>