<h3>All Categories</h3>

<hr>

<% if (categories.length < 1) { %>
  <h4>No categories have been created yet.</h4>
<% } %>


<ul class="list-group">
<% categories.forEach(function(category) { %>
  <li class="list-group-item"><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
<% }); %>
</ul>
