<h1>All Categories</h1>
<div class="row">
    <% categories.forEach(c => { %>
        <div class="col-sm-3">
            <div class="panel small">
                <div class="panel-content">
                    <span class="panel-title">
                        <a href="/categories/<%=c.id%>"><%= c.name %></a></span>

                </div>
            </div>
        </div>
    <%  }) %>
</div>