<h1 style="color:rgb(47, 47, 169)"> List of all project categories </h1>

<ul>
<% categories.forEach(category => { %>
    <a href="/categories/<%= category.id %>"> <li> <%= category.name %> </a></li>
<% }) %>
</ul>