<h1>Categories</h1>

<% categories.forEach((c) => { %>
  <div class="well">
    <h2>
      <a href="/categories/<%= c.id %>"><%= c.name %></a>
    </h2>
  </div>
<% }) %>

<a href="/">&larr; Back Home</a>