<h1><%= categories.name %> </h1>


<% categories.forEach(category => { %>
        <form method="POST" action="/categories">
            <input hidden type="text" name="name" value="<%= category.id %>">
            <a href="/categories/<%= category.id %>"><%= category.name  %> </a>
          </form>
        

<% }) %>