<h2>#<%= category.name %></h2>

<h3>Posts that use this tag</h3>

<% category.projects.forEach(function(p){ %>
  <div>
    <p>
      <a href="/projects/<%= p.id %>">
        <%= p.name %>
      </a>
    </p>
  </div>
<% }); %>
