<h1>This is your matching categories page</h1>

     <% projects.forEach(function(project) { %>
<div class="well">
        <a href="/projects/<%= project.id %>"><%= project.name %></a>
</div>
    <% }); %>
