<h1>Create a new category</h1>

<form action="/categories" method="POST">
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" name="category" required>
  </div>
  <input type="submit" class="btn btn-primary">
</form>
