<div class="text-center">

<h1>category</h1>
<h2>something here</h2>
<%= categories.forEach(function(c) {%>

<a href="/categories/ <%=d.id%>">
  <p class="text-center">
    <%= c.name%>
  </p>

</a>

<%})%>
</div>
