<h1>Create a new category</h1>

<form action="/categories" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" required>
  </div>
  <input type="submit" class="btn">
</form>
