<h1>Category: <%= category.name %></h1>
<% category.projects.forEach(p => { %> 
    <div class="well">
        <h2>
            <a href="/projects/<%= p.id %>"><%= p.name %></a>
        </h2>
    </div>
<% }) %> 





