<h1 style="color:rgb(47, 47, 169)">Projects under category '<%=category.name%>'</h1>

<ul>
<% projects.forEach(project => { %>
    <a href="/projects/<%= project.id %>"> <li><%= project.name %></li> </a>
<% }) %>
</ul>