<h1>Category: <%= category.name %></h1>

<% const projects = category.projects %>

<% if (projects.length < 1) { %>
	<h4>No projects have been associated with this category yet.</h4>
<% } %>
<% else { %>

<h4>Projects associated with the category '<%= category.name %>':</h4>
  <% projects.forEach(function(project) { %>
	<div class="well">
	  <h2>
		<a href="/projects/<%= project.id %>"><%= project.name %></a>
	  </h2>
	</div>
	<% } %>
	<% } %>
<% }); %>

<hr />

<a href="/">&larr; Back Home</a>
