<h1>Category: <%= category.name %></h1>

<h2>Projects that fall under this category</h2>

<% if (projects.length < 1) { %>
    <div class="well">
        <h4>Better get coding, I've no projects!</h4>
    </div>
  <% } %>
  
  <% projects.forEach(function(project) { %>
    <div class="well">
      <h2>
        <a href="/projects/<%= project.id %>"><%= project.name %></a>
      </h2>
    </div>
  <% }); %>
  