<h1>Category Projects</h1>

<h2><%= categorie.name %></h2>

<% projects.forEach(function(project) { %>
  <div class='well'>
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h2>
  </div>
<% }); %>
