<h1>Project Categories</h1>

<% categories.forEach(category => { %>
    <h2><%= category.name %></h2>
    <% projects.forEach(project => { %>
        <p><%= project.name %></p>
    <% }) %>
<% }) %>

