<div class="mdl-card mdl-shadow--2dp">
  <h2>
    <%= category.name %>
  </h2>
  <p>
    <% category.projects.forEach(function(project) { %>
      <a href=<%= '/projects/' + project.id %> >
        <%= project.name %>
      </a>
    <% }); %>
  </p>
</div>
