
<h1>List All Categories</h1>
  <% categories.forEach(function(category){ %>
    <h3>
      <a href="/categories/categories/<%= category.id %>">
        <%= category.name %>
      </a>
      <a href="/categories/<%= category.id %>/edit">Edit</a>
      <a href="/categories/<%= category.id %>/delete">Delete</a>
    </h3>
  <% }); %>
