<div class="container">
  <h1 class="text-center">All Categories</h1>
  <p class="text-center">
  </p>

  <% category.forEach(function(categoryObject) { %>
    <div class="well">
    <h2><a href="/categories/<%= categoryObject.name %>" title=""><%= categoryObject.name %></a></h2>
    </div>
  <% }); %>
</div>

