<h1>Hi, I'm categories new</h1>

<h1>List All Categories</h1>
<% categories.forEach(function(category){ %>
  <h3>
    <a href="<%= category.id %>">
      <%= category.name %>
    </a>
    <a href="/category/<%= category.id %>/edit">Edit</a>
    <a href="/category/<%= category.id %>">Delete</a>
  </h3>
<% }); %>
