<h1><%= category.name %></h1>
<hr/>

<h3>Projects under this Category</h3>
<br/>

<% category.projects.forEach((cat) => { %>
    <h4><%= cat.name %></h4>
    <h4><%= cat.description %></h4>
    <br/>
<% }) %>
