<h1>Category: <%=cat.name%></h1>
<h3>Projects that fall under this category</h3>
<hr>
<%cat.projects.forEach(function(project){%>
  <div class="well">
    <h4>
      <a href="/projects/<%=project.id%>"><%=project.name%></a>
    </h4>
  </div>
<%})%>
<hr>
<a href="/">&larr; Back to HOME</a>