<h3> Category:  <%= category.name %></h3>
<h4> Projects that fall under this category</h4>

<% projects.forEach(function(project) { %>
  <div class="well">
      <h5><%= project.name %></h5>
  </div>
<% }); %>
