<h2 class="title">Category: <%=category.content%></h2>

<h3>Projects that fall under this category:</h3>

<%category.projects.forEach(function(project){%>
	<div class="well"><a href="/projects/<%=project.id%>"><h4 class="project-list"><%=project.name%></h4></a></div>
<%})%>