

<h1> Categories for Projects </h1>

<h2> <%= category.name %> </h2>

<ul> <% projects.forEach(function(project){ %> 

    <li>  <a href="/projects/<%= projects.id %>"><%= project.name %> </a> </li>

<% }) %> </ul>













