<h2>#<%= categories.name %></h2>

<hr />

<h3>Associated Projects:</h3>

<% categories.projects.forEach(function(p) { %>
  <h4>
    <a href="/projects/<%= p.id %>">
    <%= p.name %>
    </a>
  </h4>
<% }); %>
