extends ../layout.pug

block content
  h1= category.category

  each project in category.projects
    .well
      h3
        a(href=`/projects/${project.id}`)=project.name
      p= project.description

  hr

  a(href="/") &larr; Back Home
