<h1>Categories</h1>

<hr />

<ul>
	<% categories.forEach(function(category) { %>
	  <li> <%= category.name %> </li>
	<% }); %>
</ul>
<a href="new">&larr; Add New Category</a>
<a href="/">&larr; Back Home</a>

