<h2>#<%= category.name %></h2>

<hr>

<h3>Associated Projects</h3>

<% category.projects.forEach(function(p) { %>
  <a href='/<%= p.deployedLink %>' target='_blank'>
  <h4>
    <%= p.name %>
  </h4>
  </a>
<% }); %>
