<h1>Tag: <%= category.name %></h1>

<hr />

<h2>Projects that fall under this category:</h2>

<% projects.forEach(function(project) { %>
  <div class="well">
    <h3>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h3>
  </div>
<% }); %>