<div class="container">
<h1>All the projects that include the category <%= found.name %></h1>

 <% if(foundCategory && foundCategory.length ){ %>
   <% foundCategory.forEach( d=>{  %>
     <div class="well" >
        <a href="/projects/<%= d.id %> "><h4 class="card-title"><%= d.name %></h4></a>
    </div>

   <% }) %>
<% }else{ %>
    <h4>No categories have been added yet</h4>
<% } %>
</div>
