<h1><%= category.name %>: Projects</h1>
<div class="row">
    <% projects.forEach((project) => { %>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="project well">
            <h3><a href="/projects/<%= project.id %>"> <%= project.name %> </a></h3>
        </div>
    </div>
    <% }) %>
</div>