<h1>Category List</h1>
<div class="well">
	<% categories.forEach(function(category) { %>
		<h3><a href="/projects/categories/<%= category.id %>"><%= category.name %></a></h3>
	<% }); %>
</div>

<hr />

<a href="/">&larr; Back Home</a>