<h1>Create a new project</h1>
<div class="row">
<div class="col-md-7 col-sm-12">
<form action="/projects" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="githubLink">Github Link</label>
    <input type="text" class="form-control" id="githubLink" name="githubLink" required>
  </div>

  <div class="form-group">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" class="form-control" id="deployedLink" name="deployedLink" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" required></textarea>
  </div>

<div class="form-group">
    <label>Category</label>
    <input type="text" class="form-control" id="category" name="categories" required>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
</div>
<div class="col-md-3 col-sm-12">
<img class="img-responsive" src="https://68.media.tumblr.com/2162b28b7108309882bec8497f1fc627/tumblr_novi8thNSg1u9ia8fo1_400.gif">
</div>
</div>
