<h1>Create a new project</h1>

<form action="/projects" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Project Name" name="name" required>
  </div>

  <div class="form-group">
    <label for="githubLink">Github Link</label>
    <input type="text" class="form-control" id="githubLink" placeholder="Add Link" name="githubLink" required>
  </div>

  <div class="form-group">
    <label for="deployedLink">Deployed Link</label>
    <input type="text" class="form-control" id="deployedLink" placeholder="Add Link" name="deployedLink" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" class="form-control" id="description" placeholder="Add Description" name="description" required></textarea>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" class="form-control" id="category" placeholder="Add Category or Categories using commas: caregory1 , category2" name="category" required>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
