h1 Create a new project

form(action="/projects" method="POST")
  div.form-group
    label(for="name") Name
    input(type="text" class="form-control" id="name" name="name" required)
  

  div.form-group
    label(for="githubLink") Github Link
    input(type="text" class="form-control" id="githubLink" name="githubLink" required)
  

  div.form-group
    label(for="deployedLink") Deployed Link
    input(type="text" class="form-control" id="deployedLink" name="deployedLink" required)
  

  div.form-group
    label(for="description") Description
    textarea(type="text" class="form-control" id="description" name="description" required)
  

  input(type="submit" class="btn btn-primary")

