<h1><%= project.name %></h1>

<a class="btn btn-primary" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github Link
</a>

<a class="btn btn-primary" href="<%= project.deployLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed Link
</a>

<p><%= project.description %></p>

<hr />

<form action="/projects/<%project.id %>" method="POST">
  
  <div class="form-group">
    <label for="category">Add another category</label>
    <textarea type="text" class="form-control" id="category" name="category" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

<a href="/">&larr; Back Home</a>
