<h1><%= project.name %></h1>

<a class="btn btn-primary btn-xs" href="<%= project.githubLink %>" target="_blank">
  <i class="fa fa-github" aria-hidden="true"></i>
  Github
</a>

<a class="btn btn-primary btn-xs" href="<%= project.deployedLink %>" target="_blank">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Deployed
</a>
<hr/>
<h3>About this Project</h3>
<p><%= project.description %></p>

<hr/>

<a href="/">&larr; Back to Projects</a>
