extends ../layout.pug

block content

  h1= project.name

  a.btn.btn-primary(href=project.githubLink target="_blank") Github Link
    i.fa.fa-github(aria-hidden="true")

  a.btn.btn-primary(href=project.deployedLink target="_blank") Deployed Link
    i.fa.fa-globe(aria-hidden="true")
    

  p=project.description

  hr

  a(href="/") &larr; Back Home
