<header>
  <h3>PROJECT:&nbsp&nbsp<%= project.name %></h3>
</header>

<a class="button small" href="<%= project.githubLink %>" target="_blank">Github Link</a>

<a class="button small" href="<%= project.deployLink %>" target="_blank">Deployed Link</a>

<p><%= project.description %></p>



<a href="/">&larr; Back Home</a>
